<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTER</title>
</head>
<body>
    <div>
        <h1>REGISTER</h1>
    </div>
    <div>
        <form action="/registerservice" method="post">
            <label for="">Nome:</label>
            <input type="text" name="nome"><br>
            <label for="">Sobrenome:</label>
            <input type="text" name="sobrenome"><br>
            <label for="">Data Nascimento:</label>
            <input type="date" name="nascimento"><br>
            <label for="">RG:</label>
            <input type="number" name="rg"><br>
            <label for="">CPF:</label>
            <input type="number" name="cpf"><br>
            <label for="">Endereço:</label>
            <input type="text" name="endereco"><br>
            <label for="">Admissao:</label>
            <input type="date" name="admissao"><br>
            <label for="">Demissao:</label>
            <input type="date" name="demissao"><br>
            <label for="">Salario:</label>
            <input type="number" name="salario"><br>
            <label for="">Funcao:</label>
            <input type="text" name="funcao"><br>
            <label for="">Senha:</label>
            <input type="password" name="senha"><br>
            <label for="">Confirmar Senha:</label>
            <input type="password" name="confirmarsenha">
            <label for="">Operador</label>
            <select name="condicao">
                <option value="1">ADM</option>
                <option value="0">Normal</option>
            </select>
            <button class="btn btn-success">Enviar</button>
        </form>
    </div>
</body>
</html>