<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>REGISTER</title>
</head>
<body>
    <div>
        <h1>SALES</h1>
    </div>

    <div>
        <form action="/saleproductservice" method="POST">
            
            <input type="number" placeholder="CODIGO" id="codigo"><br>
            <input type="number" placeholder="QUANTIDADE" id="quantidade"><br>

            <div class="conteinerBotao">
                <button type="button" class="btn btn-success" onclick="adicionar(document.getElementById('codigo').value, 
                document.getElementById('quantidade').value)">ADD</button>
            </div>

            <table border="1">
                <tbody id="tbody">
                    <tr>
                        <td>COD
                        </td>
                        <td >Descrição
                        </td>
                        <td>QTD
                        </td>
                        <td>Valor Unitario
                        </td>
                        <td>Valor
                        </td>
                    </tr>
                </tbody>
            </table>


            <p>TOTAL = </p><p id="total"></p>
            <button type="submit">enviar</button>
        </form>
    </div>
</body>
<script>

    let vendas = []

    function adicionar(codigo, quantidade){

    fetch(`http://localhost:8080/home/saleclient/${codigo}?`, {
    }).then(response =>{  
        return response.json()
        .then(data =>{
            console.log(data)


            
        let tbody = document.getElementById('tbody')
        let tr = tbody.insertRow()
        let td_cod = tr.insertCell()
        let td_nome = tr.insertCell()
        let td_quantidade = tr.insertCell()
        let td_valorUnit = tr.insertCell()
        let td_valor = tr.insertCell() 

        let inputCod = document.createElement('input')
        inputCod.setAttribute("type", "hidden")
        inputCod.setAttribute("name", "prodCod[]")

        let inputNome = document.createElement('input')
        inputNome.setAttribute("type", "hidden")
        inputNome.setAttribute("name", "prodNome[]")

        let inputQuantidade = document.createElement('input')
        inputQuantidade.setAttribute("type", "hidden")
        inputQuantidade.setAttribute("name", "prodQtd[]")

        let inputValorUnit = document.createElement('input')
        inputValorUnit.setAttribute("type", "hidden")
        inputValorUnit.setAttribute("name", "prodVU[]")

        let inputValor = document.createElement('input')
        inputValor.setAttribute("type", "hidden")
        inputValor.setAttribute("name", "prodValor[]")  


        vendas.push({       cod:data.rowsProd[0].idproduto,
                            nome:data.rowsProd[0].produtoNome, 
                            quantidade:quantidade, 
                            valorUnit:data.rowsProd[0].produtoValorVenda, 
                            valor:data.rowsProd[0].produtoValorVenda * quantidade
                            })


        for (let i in vendas){
            td_cod.innerText = vendas[i].cod
            td_nome.appendChild(inputCod)
            inputCod.setAttribute("value", vendas[i].cod)

        }

        for (let i in vendas){
            td_nome.innerText = vendas[i].nome
            td_nome.appendChild(inputNome)
            inputNome.setAttribute("value", vendas[i].nome)


        }

        for(let i in vendas){
            td_quantidade.innerText = vendas[i].quantidade
            td_quantidade.appendChild(inputQuantidade)
            inputQuantidade.setAttribute("value", vendas[i].quantidade)
        
        }

        for(let i in vendas){
            td_valorUnit.innerText = vendas[i].valorUnit
            td_valorUnit.appendChild(inputValorUnit)
            inputValorUnit.setAttribute("value", vendas[i].valorUnit)


        }

        for(let i in vendas){
            td_valor.innerText = vendas[i].valor
            td_valor.appendChild(inputValor)
            inputValor.setAttribute("value", vendas[i].valor)


        }

        var total = vendas.reduce(getTotal, 0);
        function getTotal(total, item) {
        return total + (item.valorUnit * item.quantidade);
        }


        let totalExibir = document.getElementById('total')

        totalExibir.innerText = total


        })
    }).catch((error)=>{console.log(error)})

    }
    
</script>
</html>